{% extends 'layout.html' %}
{% block body %}
  {% with messages = get_flashed_messages() %}
                        {% if messages %}
                             <div class="alert alert-info" role="alert">{{messages[0]}}</div>
                        {% endif %}
 {% endwith %}
    <table class="table .table-condensed">
        <tr>
            <td>Key number</td>
            <td>Company</td>
            <td>Remove</td>
        </tr>
        {% for key in list %}
            <tr>
                <td>{{key.key_number}}</td>
                <td>{{key.company_name}}</td>
                <form action="{{url_for('remove_key', key_id=key.id)}}" method=post>
                    <td><strong><input type="submit" value="X" class="remove"></strong></td>
                </form>
            </tr>
        {% endfor %}
    </table>
<style>
    .remove{
        background-color:white;
        border:none;
        color: red;
        font-size: 170%;
    }
    .remove:hover{
        font-size: 250%;
    }
</style>
{% endblock %}